<h3>New Query</h3>
<form class="form-horizontal well" action="/query/run" method="POST">
  <div class="control-group">
    <div class="textarea">
      <textarea name="query"> </textarea>
    </div>
  </div>
  <div class="control-group">
    <button class="btn btn-success" type="submit">Run Query!</button>
  </div>
</form>